html, body, h1, h2, h3, p, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, helvetica, sans-serif;
  background-color: #eee;
  line-height: 1.65;
}

/* Latihan 1 */
.container-satu {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.kolom-utama {
  flex: 3;
  order: 2;
}

.sidebar-satu {
  flex: 1;
  order: 1;
}

.sidebar-dua {
  flex: 1;
  order: 3;
}

/* Latihan 2 */
.container-dua {
  max-width: 800px;
  margin: 50px auto;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
}

.layanan.satu {
  background-color: rgb(119, 119, 255);
}

.layanan.dua {
  background-color: rgb(103, 216, 103);
}

.layanan.tiga {
  background-color: rgb(255, 124, 124);
}

/* Responsive */
@media( min-width: 600px) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }
}
